{% extends 'base.html' %}
{% block title %}Select Team 👕{% endblock %}
{% block content %}
<div class="jumbotron text-center">
	<div class="container">
		<h1 class="display-6 space-above">Select Team 👕</h1>
		<hr class="my-4">
		<div class="row">
			{% for club in clubs %}
				<div class="col-sm-12 col-md-6 col-lg-4 mb-4">
					<a href="{{ url_for('select_player', alias=club['alias']) }}">
						<div class="card text-dark card-has-bg click-col">
							<div class="card-img-overlay d-flex flex-column">
								<div class="card-body">
									<img src={{ club['img_url'] }}>
								</div>
							</div>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
</div>

{% endblock %}
