{% extends 'base.html' %}
{% block title %}Scout Page{% endblock %}
{% block content %}
<div class="container">
	<div class="row justify-content-center mb-3">
	</div>
	<div class="d-flex justify-content-end mb-5">
		<a href="{{ url_for('main') }}"><button type="button" class="btn btn-light btn-space"><i class="fa fa-home"></i></button></a>
		<a href="{{ url_for('logout') }}"><button type="button" class="btn btn-light"><i class="fa fa-sign-out"></i></button></a>
	</div>
	<div class="row justify-content-center">
		<div class="col-sm-12 col-md-6 col-lg-3 mb-4">
			<a href="{{ url_for('search') }}">
				<div class="card3 text-dark card-has-bg click-col">
					<div class="card-img-overlay d-flex flex-column">
						<div class="card-body">
							<img src="https://static.vecteezy.com/system/resources/previews/026/640/053/original/search-icon-isolated-on-white-background-creative-modern-logo-vector.jpg" width="100%">
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-3 mb-4">
			<a href="{{ url_for('select_team') }}">
				<div class="card3 text-dark card-has-bg click-col">
					<div class="card-img-overlay d-flex flex-column">
						<div class="card-body">
							<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrgG12Hyhcry6wcr3U6EhaaUtf0ydrYmHjSg&s" width="100%">
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>
{% endblock %}
