{% extends 'base.html' %}
{% block title %}
	{% if players %}
		Select Player
	{% else %}
		Select Team
	{% endif %}
{% endblock %}
{% block content %}
<div class="jumbotron text-center">
	<div class="container">
		<div class="row justify-content-center mb-3">
		</div>
		<div class="d-flex justify-content-end mb-4">
			<a href="{{ url_for('main') }}"><button type="button" class="btn btn-light btn-space"><i class="fa fa-home"></i></button></a>
			<a href="{{ url_for('logout') }}"><button type="button" class="btn btn-light"><i class="fa fa-sign-out"></i></button></a>
		</div>
		<h1 class="display-6 space-above">
			{% if players %}
				Select Player
			{% else %}
				Select Team
			{% endif %}
		</h1>
		<hr class="my-4">
		<div class="row">
			{% for player in players %}
				<div class="col-sm-12 col-md-6 col-lg-3 mb-4">
					<a href="{{ url_for('player_details', id=player['id']) }}">
						<div class="card2">
							<div class="front" style="background-image: url({{ player['img_url'] }})"></div>
							<div class="back">
								<div>
									<div class="name">{{ player['name'] }}</div>
									<p class="position">{{ player['position'] }}</p>
									<p class="market">Market Value:<br><b style="color:#157811">{{ player['market_value'] }}</b></br></p>
								</div>
							</div>
						</div>
					</a>
				</div>
			{% endfor %}
			{% for club in clubs %}
				<div class="col-sm-12 col-md-6 col-lg-4 mb-4">
					<a href={{ url_for('select_player', alias=club['alias']) }}>
						<div class="card text-dark card-has-bg click-col">
							<div class="card-img-overlay d-flex flex-column">
								<div class="card-body">
									{% if club['alias'] == 'dewa' %}
										<img src={{ club['img_url'] }} height="183px">
									{% else %}
										<img src={{ club['img_url'] }} height="250px">
									{% endif %}
								</div>
							</div>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
